<!DOCTYPE html>
<html>
<head>
	<title>REGSTRATION PAGE</title>
</head>
<body>

	<form method="post" action="../controller/RegCheck.php">
		
		  <table border="3" align="center" width="700px" height="330px">

           

                <tr>
                    <td align="center">
                        <legend><b>Registration</b></legend>
			
			        <table>
			       
				       
				        <tr>
					      <td><b>UserID:</b></td>
				          <td><input type="text" id="userid" name="userid" placeholder="userid" value=""></td>
				        </tr>
				        
				        
				       <tr>
					      <td><b>Username:</b></td>
				          <td><input type="text" id="username" name="username" placeholder="Username" value=""></td>
				        </tr>
                
				        <tr>
					        <td><b>Email:</b></td>
					        <td><input type="email" id="email" name="email" placeholder="Email" value=""></td>
				        </tr>
                        <tr>
					        <td><b>Date of Birth:</b></td>
					        <td><input type="date" id="dob" name="date" value="date"></td><hr/>
							
				        </tr>
                        <tr>
					        <td><b>Gender:</b></td>
					        <td>
                                <input type="radio" name="gender" value="Male"><b>Male</b>
                                <input type="radio" name="gender" value="Female"><b>Female</b>
                                <input type="radio" name="gender" value="Other"><b>Other</b>
								
                            </td>
				        </tr>
                        <tr>
					        <td><b>User Type:</b></td>
					        <td>
                                <input type="radio" name="type" value="Admin"><b>Admin</b>
                                <input type="radio" name="type" value="Accountant"><b>Accountant</b>
                                <input type="radio" name="type" value="Customer"><b>Customer</b>
								
                            </td>
				        </tr>
                        </tr>
                        <tr>
                           <td><b>Address:</b></td>
                           <td><input type="text" name="add" placeholder="Address" value=""></td>
                       </tr>
                       <tr>
                        <tr>
					        <td><b>Password:</b></td>
					        <td><input type="password" id="password" name="password" value=""></td>
				        </tr>
                        <tr>
					        <td><b>Confirm Password:</b></td>
					        <td><input type="password" id="confirmpass" name="confirmpassword" value=""></td>
				        </tr>
                        
				       
                        <tr>
					        <td colspan="2"><input type="submit" name="submit" value="submit">
                                <a href="Login.html">Login</a>
                                <a href="Home.php">Back</a>
                            </td>
					        
				        </tr>
			         </table>
                    </td>
                </tr>
            </table>

	</form>
	<script>
		function validate(){

			let username=document.getElementById('username').value;
			let userid=document.getElementById('userid').value;
			let email=document.getElementById('email').value;
			let password=document.getElementById('password').value;
			let confirmpass=document.getElementById('confirmpass').value;

			if(username !="")
			{
				return true;
			}
			else{
				alert('null username');
				return false;
			}
			if(userid !="")
			{
				return true;
			}
			else{
				alert('null userid');
				return false;
			}if(email !="")
			{
				return true;
			}
			else{
				alert('null email');
				return false;
			}if(password !="" && password==confirmpass)
			{
				return true;
			}
			else{
				alert('null password or password does not match');
				return false;
			}



		}
	</script>
</body>
</html>